@charset "UTF-8";
/* CSS Document */

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: .8em;
    line-height: 1.5em;
    color: #666666;
    margin:10%;
}

h1 {
    
    font-size: 5em;
    line-height: 1.15em;
    text-transform:uppercase;
    padding: 0;
    margin:0;
}

h2 {
    
    padding:0;
    margin-bottom: 30px;
    margin-left:0;
    margin-right:0;
    margin-top:0;
    font-weight: 300;
    font-size: 2em;
    line-height: 1em;
}

h3 {
    color: #84878A;
    font-size: 2.25em;
}

h4 {
    font-weight:300;
    color:#000;
    font-size: 1.5em;
}

header {
    padding: 15%;
    background-color: #1E273B;
    color:#ccc;
    margin-top: -15%;
    margin-left: -15%;
    margin-right: -15%;
    margin-bottom: 5%;
}

.intro {
    font-size: 1.25em;
    line-height: 1.5em;
    font-weight: 300;
}

.question {
    color: #1159BD;
    font-weight:700;
    font-size: 1.5em;
}

.chartContainer {
    margin-bottom: 40px;
    margin-top: 40px;
}

.value {
    fill: #333;
}

.name {
    font-weight: 700;
}












